{{template "header"}}
    <title>注册</title>
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <p>{{.UserNameErr}}</p>
</div>
<div class="container" style="width: 500px">
    <!--方法是post,提交到/register-->
    <form method="post" action="/register" >
        <div class="form-group">
            <label>帐号</label>
            <input id="uname" class="form-control" placeholder="Account" name="uname">
        </div>
        <div class="form-group">
            <label>密码</label>
            <input id="pwd" type="password" class="form-control" placeholder="Password" name="pwd">
        </div>
        <div class="form-group">
            <label>手机号</label>
            <input id="tel" class="form-control" placeholder="Telephone" name="tel">
        </div>
        <button type="submit" class="btn btn-default" onclick="return checkInput();">注册</button>
        <button class="btn btn-default" onclick="return backToHome();">返回</button>
        <button type="button" class="btn btn-link" onclick=" return backToLogin();">已有账号？去登陆-></button>
    </form>
    <!--使用js当密码帐号为空时,或者错误时-->
    <script type="text/javascript">
        function checkInput() {
            var uname=document.getElementById("uname")
            if (uname.value.length == 0){
                alert("请输入帐号");
                return false;
            }

            var pwd=document.getElementById("pwd")
            if (pwd.value.length == 0){
                alert("密码不能为空");
                return false;
            }
            return true;
        }

    <!-- 返回首页——永远是false,使表单永远不被提交-->
    function backToHome() {
        window.location.href = "/";
        return false;
    }
    function backToLogin() {
        window.location.href="/login";
        return false;
    }
    </script>
</div>
</body>
</html>